.h{
    height: 300px;
}

.k{
    height: 100px;
}



.blue{
    background-color: dodgerblue;
}

.green{
    background-color: forestgreen;
}

.black{
    background-color: black;
}

.red{
    background-color: darkred;
}
